.banner1,
.banner2 {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-position: left;
  background-size: cover;
}

.banner1 {
  background-image: url("/public/images/FirstBannerBg.png");
}

.banner2 {
  background-image: url("/public/images/SecondBannerBg.png");
}

.banner3 {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-position: left;
  background-size: cover;
  background-image: url("/public/images/ThirdBannerBg.png");
}

.banner4 {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-position: left;
  background-size: cover;
  background-image: url("/public/images/iPadsBannerBg.jpeg");
}

.banner1 .title {
  font-size: 40pt;
  font-weight: 700;
  background: -webkit-linear-gradient(-35deg, #4cb9e0, #de266a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 20pt;
  width: 160px;
  margin: 0 10px;
  z-index: 99;
}

.banner2 .title {
  font-size: 40pt;
  font-weight: 700;
  background: -webkit-linear-gradient(-35deg, #e89e08, #c3380d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 20pt;
  max-width: 250px !important;
  margin: 0 10px;
  z-index: 99;
}

.banner3 .title {
  font-size: 40pt;
  font-weight: 700;
  background: -webkit-linear-gradient(-35deg, #010101, #bc2c2e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 20pt;
  width: 180px;
  margin: 0 10px;
  z-index: 99;
}

.banner4 .title {
  font-size: 40pt;
  font-weight: 700;
  background: -webkit-linear-gradient(-35deg, #f068c1, #524ef1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 20pt;
  width: 140px;
  margin: 0 10px;
  z-index: 99;
}

.saleBanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("/public/images/Bag.jpeg");
  width: 100%;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  background-position: right;
  background-size: cover;
}

.saleprice {
  color: rgb(80, 80, 80);
  display: inline;
}

.saleTitle {
  font-weight: 800;
  color: rgb(245, 0, 0);
  width: 50px;
  line-height: 0.9;
}

.bannersTitle {
  color: white;
  font-weight: 700;
  font-size: 20pt;
  width: 120px;
  margin: 0 10px;
  z-index: 99;
}

.smallBtn {
  background: transparent;
  font-weight: 500;
  font-size: 10pt;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 8px 16px;
  border-radius: 50px;
  color: white;
  transition: all 0.3s;
  margin: 10px 0;
  opacity: 0.75;
}

.smallBtn:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.smallBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.smallBtn span .icon {
  content: "f0546";
  position: absolute;
  opacity: 0;
  top: 4px;
  transition: all 0.5s;
}

.smallBtn:hover span {
  padding-right: 20px;
}

.smallBtn:hover span .icon {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 990px) {
  .banner1 {
    background-image: url("/public/images/FirstBannerBgResponsive.png");
    margin-bottom: 0;
    max-width: 49%;
  }

  .banner2 {
    background-image: url("/public/images/SecondBannerBgResponsive.png");
    margin-bottom: 0;
    max-width: 48%;
  }

  .banner3 {
    background-image: url("/public/images/ThirdBannerBgResponsive.png");
    margin-bottom: 10px;
  }

  .banner4 {
    background-image: url("/public/images/ForthBannerBgResponsive.jpg");
    margin-bottom: 0;
  }
}
